body {
  background: #e2e2e2;
  font-size: 12px;
  font-family: system-ui;
}

input, select {
  font-size: 12px;
  padding: 1px;
}

canvas {
  background: linear-gradient(rgb(150, 133, 183), rgb(69, 58, 60));
}

h2 {
  font-size: 110%;
  margin: 0;
  margin-bottom: 4px;
}

.cols {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 16px;
}
.cols.vcenter {
  align-items: center;
}

fieldset {
  display: grid;
  grid-template-columns: 12em auto;
  align-items: center;
  border: 0;
  margin: 0;
  padding: 3px 0px 3px 0;
}

fieldset label:nth-child(1) {
  text-align: right;
  padding-right: 1em;
}

fieldset input[type="number"] {
  width: 5em;
}

#cores {
  flex-grow: 1;
}

#cores_pal {
  height: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 22px);
  column-gap: 4px;
  padding: 4px 0;
}

#cores_pal > div {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.label_check {
  display: flex;
  align-items: center;
}
